@media(max-width:768px) {
    .main-nav .main-logo,
    img.offcanvas-logo {
        width: 50px;
    }
    .nav-link.nav-offcanvas {
        padding: 0;
    }
    .offcanvas .offcanvas-body a {
        color: #6c757d;
    }
    .grid-product {
        grid-auto-rows: auto;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 7px;
    }
    .container-fluid {
        padding-right: var(--bs-gutter-x, 1rem);
        padding-left: var(--bs-gutter-x, 1rem);
    }
    .section-checkout-item table th,
    .section-cart table th {
        color: rgba(0, 0, 0, 0.6);
        font-size: 14px;
    }
    .section-checkout-item table td,
    .section-cart table td {
        color: rgba(0, 0, 0, 0.6);
        font-size: 12px;
    }
    .section-checkout-item table tbody,
    .section-cart table tbody {
        vertical-align: middle;
    }
    .section-checkout-item table .td-img,
    .section-cart table .td-img {
        width: unset;
    }
    .section-checkout-item .item-image,
    .section-cart .item-image {
        width: 50px;
    }
    footer {
        padding: 50px .75em 45px;
    }
    .section-upload {
        width: 100%;
    }
}