/*
*********************************
script by
Aep Saefulloh
website : aeradev.com
email : aepsaefulloh1396@gmail.com / aep@sketsahouse.com 
*********************************
*/

@font-face {
    font-family: 'ibarraRealNova-Medium';
    src: url(../fonts/IbarraRealNova-Medium.ttf);
}

html,
body {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.container-fluid {
    padding-right: var(--bs-gutter-x, 1.5rem);
    padding-left: var(--bs-gutter-x, 1.5rem);
}

.heading h1,
.heading h2,
.heading h3,
.heading h4,
.heading h5,
.heading h6 {
    color: rgba(0, 0, 0, 0.6);
    font-family: 'ibarraRealNova-Medium';
    font-weight: bold;
}

a {
    text-decoration: unset;
}


/* =========== Button & Line =========== */

.btn-dark {
    background-color: #181818;
    padding: .375rem 3rem;
    border-radius: 0;
    transition: .3s;
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 4px rgb(0 0 0 / 40%);
    box-shadow: 0 4px 4px rgb(0 0 0 / 40%);
}

.btn-dark:hover {
    background-color: #FFF;
    color: #181818;
}

.line1 {
    height: 1px;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) -2.22%, rgba(0, 0, 0, 0.28102) 16.32%, rgba(0, 0, 0, 0.51) 85.02%, rgba(0, 0, 0, 0) 102.46%);
    margin-top: 1.5rem;
}


/* =========== Breadcrumb & Timezone =========== */

.section-timezone {
    padding: .8rem 0;
    background: #F5F5F5;
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
}

.section-timezone .breadcrumb .breadcrumb-item a {
    color: rgb(0, 0, 0, 0.6);
    text-decoration: none;
}


/* =========== Navbar =========== */

.main-nav {
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    padding: 0;
}

.main-nav .main-logo {
    width: 50%;
}

.add-cart .badge {
    vertical-align: top;
    font-size: 10px;
    border-radius: .5rem;
    padding: 3px 4px;
    line-height: .8;
    margin-left: -10px;
}

.offcanvas-cart h6 {
    color: rgb(0, 0, 0, 0.6);
    font-weight: bold;
}


/* =========== Swiper Banner =========== */

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* =========== Product =========== */

.grid-product {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 14px;
    padding-top: 25px;
}

.grid-product figure {
    transition: .5s;
    box-shadow: 16px 16px 48px rgb(0, 0, 0, 0);
}

.grid-product figure:hover {
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
}

.grid-product figure .figure-caption h3,
.grid-product figure .figure-caption p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: .6px;
}

.grid-product figure .figure-caption h3 {
    margin-top: .3rem;
    margin-bottom: .1rem;
}

.grid-product figure .figure-caption p {
    font-weight: bold;
}

figure .bg-size:before {
    padding-top: 100%;
    content: "";
    display: block;
}


/* ========== Pagination ========== */

.pagination .page-link {
    color: rgba(0, 0, 0, 0.6);
}

.pagination .page-link:hover {
    background-color: #f5f5f5;
}

.pagination .page-item.active .page-link {
    background-color: #f5f5f5;
    border-color: #dee2e6;
    color: rgb(0, 0, 0, 0.6);
}


/* =========== Product Detail =========== */

.product-detail .product-price p {
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
}

.product-detail .feature-select {
    margin-top: 2%;
}

.product-detail .feature-select img {
    float: left;
    max-width: 20%;
    width: 20%;
    cursor: pointer;
    margin-right: 2%;
    border: 2px solid #eee;
    box-sizing: border-box;
}

.product-detail .feature-select img.active {
    border: 2px solid #aaa;
}

.product-detail .product-size span {
    display: inline-block;
    width: 35px;
    border: 1px solid #999;
    text-align: center;
    padding: .2rem;
    text-transform: uppercase;
    cursor: pointer;
}

.product-detail .product-size span.active {
    color: #000;
    background: #aaa;
}

.product-detail .product-size-ordered span {
    text-transform: uppercase;
}

.product-detail table th {
    color: rgb(0, 0, 0, 0.6);
    font-weight: 500;
    font-size: 14px;
}

.product-detail table td {
    color: rgb(0, 0, 0, 0.6);
    font-weight: 500;
    font-size: 14px;
}


/* ========== Checkout & Shipping ========== */

.section-checkout-item table tbody {
    vertical-align: middle;
}

.section-checkout-item table .checkout-item {
    display: -webkit-inline-box;
}

.section-checkout-item table .checkout-info {
    margin-top: auto;
}

.section-checkout-item table .checkout-info p {
    margin-bottom: .3rem;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
}

.section-checkout-item table .checkout-info .checkout-name {
    font-weight: bold;
    font-size: 14px;
}

.section-checkout-item table td {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
}

.section-checkout-item table .td-img {
    width: 60%;
}

.section-checkout-item .item-image {
    width: 100px;
}

.section-profile label {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
}

.section-profile .form-control,
.section-profile .form-select {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.section-profile .form-text {
    font-size: 10px;
}

.section-profile .form-control:focus,
.section-profile .form-select:focus {
    border-color: #ced4da;
    outline: 0;
    box-shadow: unset;
}

.section-profile .form-underline,
.section-profile .form-payment {
    border-bottom: 1px solid #ced4da;
    padding: .375rem .75rem;
}

.section-profile .form-underline span,
.section-profile .form-payment span,
.section-profile .order-result span {
    font-size: 14px !important;
    color: rgba(0, 0, 0, 0.6) !important;
}

.section-profile .order-result {
    border-bottom: 1px solid #ced4da;
    padding: .375rem .75rem;
}

.section-profile .order-result span {
    padding: .375rem .75rem;
}

.section-profile .img-payment {
    width: 50px;
}

.section-order-success .text-order p {
    color: rgb(0, 0, 0, 0.6);
}

.section-order-success .text-order .item p {
    margin-bottom: .5rem;
}

.section-cart table tbody {
    vertical-align: middle;
}

.section-cart table .checkout-item {
    display: -webkit-inline-box;
}

.section-cart table .checkout-info {
    margin-top: auto;
}

.section-cart table .checkout-info p {
    margin-bottom: .3rem;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
}

.section-cart table .checkout-info .checkout-name {
    font-weight: bold;
    font-size: 14px;
}

.section-cart table td {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
}

.section-cart table .td-img {
    width: 60%;
}

.section-cart .item-image {
    width: 100px;
}


/* ========== Footer ======= */

footer {
    background-color: #fff;
    /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12); */
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 100px 50px 45px;
}

footer .footer-left p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    margin: 0;
}

footer .footer-links {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
}

footer .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    list-style: none;
    color: inherit;
    margin-left: .5rem;
    transition: ease .25s;
}

footer .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

footer .footer-right a {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #000;
    border-radius: 50%;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    line-height: 25px;
    margin-left: 2px;
    transition: all .25s;
}

footer .footer-right a:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

footer p.footer-links a:hover {
    text-decoration: underline;
}


/* ========== Login ======= */

.section-upload {
    width: 50%;
}

.section-login .login-page {
    width: 100%;
    padding: 15px;
    margin: auto;
}

.section-login .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.section-login .form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.section-login .form button {
    text-transform: uppercase;
    outline: 0;
    background: #1D976C;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.section-login .form button:hover,
.section-login .form button:active,
.section-login .form button:focus {
    background: #43A047;
}

.section-login .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.section-login .form .message a {
    color: #1D976C;
    text-decoration: none;
}

.section-login .form .register-form {
    display: none;
}

.section-login .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.section-login .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.section-login .info span a {
    color: #000000;
    text-decoration: none;
}

.section-login .info span .fa {
    color: #EF3B3A;
}

body.body-login {
    background: #1D976C;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93F9B9, #1D976C);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body.body-upload {
    background: #FFF;
}


/* DropZone Upload */

.box {
    position: relative;
    background: #ffffff;
    width: 100%;
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 10px;
}

.box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
}

.dropzone-wrapper {
    border: 2px dashed #91b0b3;
    color: #92b0b3;
    position: relative;
    height: 150px;
}

.dropzone-desc {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    top: 50px;
    font-size: 16px;
}

.dropzone,
.dropzone:focus {
    position: absolute;
    outline: none !important;
    width: 100%;
    height: 150px;
    cursor: pointer;
    opacity: 0;
}

.dropzone-wrapper:hover,
.dropzone-wrapper.dragover {
    background: #ecf0f5;
}

.preview-zone {
    text-align: center;
}

.preview-zone .box {
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0;
}

.hidden {
    display: none;
}

/* ========== Floating Whatsapp ======= */

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.float:hover {
    color: #FFF;
}

.float .wp-button:before {
    vertical-align: -.4em;
}